body{
  background:#707070;
  font-family: "opensans-light";
  font-size: 80%;
}
#background{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.darkOverlay{
   display: block;
   position: absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background: #000;
   z-index: 1;
   opacity: 0.2;
 }
.callout *,.callout{
  border:thin solid #eee;
}
.hidden{
  display: none !important;
}

.clearfix:after{
  content:'';
  display: block;
  width:0;
  height: 0;
  opacity: 0.0;
  visibility: 0;
  clear: both;
}

.text-center{
  text-align: center;
}


.backface{
  margin: auto;
  overflow: hidden;
  position: relative;
}
.backface img.back{
  display: block;
  width: 100%;
  position: absolute;
  min-width: 30em;
  top:0;
  left:0;
  opacity: 0.6;
}
.backface .content{
  position: relative;
  padding-top: 2em;
  z-index: 2;
  width: 100%;
  height:100%;
}
.backface::before{
  opacity: 1.0;
  content: '';
  position: absolute;
  top:0;
  left: 0;
  display: block;
  width:100%;
  height: 100%;
  background: #000;
}

#login{
  font-family: inherit;
  color:#fff;
}
#login img.logo{
  width: 100%;
  max-width: 8em;
}
#login #ccLogo{
  max-width: 32em;
}
#login h4{
  margin:0 auto 1em auto;
  font-weight: 100;
  font-size: 2em;
}
#login form{
  text-align: left;
  padding:2em;
  display: block;
  background: #fff;
  color:#222;
  width:100%;
  max-width: 32em;
  margin: 0 auto;
  position: relative;
}

#login form label{
  display: block;
  text-transform: uppercase;
  font-family: "opensans";
  color:#a8a8a8;
}
#login form input:not([type="submit"]){
  color:#757575;
  border:none;
  display: block;
  margin-bottom:1em;
  border-bottom:thin solid #f3f3f4;
  padding:0.5em 0;
  font-size: 1.2em;
  width:100%;
  background-color: transparent;
}
#login form input:not([type="submit"]):focus{
  border-bottom:thin solid #222;
  outline:0;
  color:#000;
}
#login form #forgot{
  float:right;
  color:inherit;
  text-decoration: inherit;
  color:#a8a8a8;
  margin-bottom: 1em;
}
#login form #forgot:hover{
  color:#222;
}
#login input[type="submit"]{
  color:#fff;
  background:#4a8609;
  border:none;
  display: block;
  width:100%;
  padding:1em;
  font-family: "opensans-light";
  margin:0 auto;
  transition: all ease 0.2s;
}
#login input[type="submit"]:hover{
  background: #59a20a;
}
#login #onNoAccountShouldYou{
  position: relative;
  text-transform: uppercase;
  background:#464646;
  padding:2em 1em;
  color:#c0c0c0;
  display: block;
  z-index: 3;
}
#login #onNoAccountShouldYou a{
color:#d3d3d3;
margin-left:1rem;
text-decoration: inherit;
text-transform: inherit;
}

#login #onNoAccountShouldYou a:hover{
  color:#f5f5f5;
}
#login .icon{
  width:1.8em;
  float:right;
  position: relative;
  top:1.5em;
}
#formCont{
  background: #fff;
  display: block;
  width: 100%;
  margin: 0 auto;
}
#signUpForm{
  opacity: 0.0;
}
form.hide{
  display: none !important;
  opacity: 0.0 !important;
}
form.testing{
  display: block;
  width:100%;
  text-align: center;
  max-width: 30rem;
  margin:0 auto;
  color:#eee;
  font-size: 2em;
}
form.testing input{
  color:#222;
}
#dashboard{
  max-width: inherit;
  margin:0 auto;
}
.card{
  padding:0.75em 1.5em;
}
.small{
  padding-right: 0.75em;
}
.borderTop .insideCard{
  border-top: thin solid rgba(255,255,255,0.2);
}
.small:nth-child(2n+1){
  padding-right: 1.5em;
  padding-left: 0.75em;
  border-left:thin solid rgba(255,255,255,0.2);
}
.small:nth-child(n+2) .insideCard{
  border-bottom:none;
}

.card .insideCard{
  padding:1em;
  display: block;
  color:#fff;
  text-decoration: inherit;
/*  background:rgba(255,255,255,0.254);*/
  transition: all ease 0.5s;
  box-sizing: border-box;
  border-bottom:thin solid rgba(255,255,255,0.2);
}
a.cardLink{
  text-decoration: none;
  color:#fff;
}
  .card .insideCard >*{
    padding:0;
    margin:0;
  }
  .floatRight{
    float: right;
  }
  .card.floatRight{
    min-height: 26rem;
  }
  #quotes{
    max-height: 24.5rem;
    overflow-y: scroll;
    padding-right:1em;
  }
  .quote{
    display: block;
    width:100%;
    box-sizing: border-box;
    background: #fff;
    color:#222;
    position: relative;
    margin-bottom: 2em;
    padding-top: 0.1px;
    position: relative;
    padding-bottom: 0.1px;
  }
  .quote .content>*{
    position: relative;
    z-index: 2;
    padding:0;
    margin: 0;
  }
  .quote .content{
    margin: 1em;
  }
.quote .name{
margin-top: 1em;
font-size: 1.4em;
}
  .quote .modified{

  }
  .quote .created{

  }
  .date{

  }
  .quote .status{
    min-width: 8em;
    display: inline;
    float: right;
    margin-right: 2em;
    margin-top: 0.7em;
    text-align: center;
    z-index: 1;
  }
  .quote .status img{
    max-width: 5em;
    height:100%;
  }
  .quote .buttons{
    clear: both;
    margin:0;
    width: 100%;
    box-sizing: inherit;
    margin-top:1em;
}
  .quote .buttons a{
    box-sizing: inherit;
    margin:0;
    padding:0;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    padding:0.3em;
  }
  .quote .buttons a:first-child{
    color:#222;
    background: #b4b2b0;
    width: 50%;
  }
  .quote .buttons a:first-child:hover{
    background: #c5c3c1;
  }
  .quote .buttons a:last-child{
    background: #6b9773;
    color:#fff;
    width: 50%;
  }
  .quote .buttons a:last-child:hover{
    background: #5a8662;
  }
  .card.small{
    text-align: center;
  }
  .card .cardTitle{
    font-size: 2em;
    font-family: "opensans-bold";
    text-transform: uppercase;
    font-weight: 200;
  }
  .card .cardTitle.noDesc{
    font-size: 3em;
    margin-left:0.5em;
    margin-top:1.5rem;
  }
  .cardLink:hover .insideCard{
  }

  .card .desc{
  }
  .card .cardIcon{
    max-width: 5em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 2em;
    float: right;
  }
  .card.small .cardIcon{
    float: none;
    margin: 0.5em 0;
  }

#profileCont{
display: none;
}
#mainLogo{
  max-width: 18rem;
}
#mainDashTitle{
  color:#fff;
  margin-bottom:2em;
  font-family: "opensans";
  line-height: 1.8rem;
}
#mainDashTitle h2{
  font-family: "opensans-light";
  margin-bottom:0.2rem;
  margin-top:-1em;
}
#mainDashTitle h3{
  font-size: 2rem;
  font-family: "opensans-bold";
  margin-bottom: 0.2em;
}
#mainDashTitle h4, #mainDashTitle h5{
  font-size: 1.4rem;
  font-family: "opensans-light";
  display: inline;
}
#mainDashTitle h4:after{
  content:'-'
}
#mainDashTitle >*{
  font-weight: normal;
  margin:0;
}
.desk{
  display: none;
}
.tab{
  display: none;
}
#calculator{
  color:#fff;
}
#calculator h2,#calculator h3,#calculator h4,#calculator h5,#calculator h6{
  margin:0;
  padding:0;
}
#calculator label, #calculator title{
  font-family: "opensans-bold";
  font-weight: 100;
}

#calculator input, #calculator textarea{
  font-family: "opensans-light";
  color:inherit;
  background-color: transparent;
  border:0;
  border-bottom:thin solid rgba(255,255,255,0.2);
}
#calculator input:focus{
  border-bottom:thin solid rgba(255,255,255,0.8);
  outline:0;
}
.pagnation-page.current{

}
.pagnation-page{
  margin-top: 2em;
  padding:1em;
  display: block;
  background: rgba(255,255,255,0.235);
}
.pagnation-page > div{
  display: block;
  padding:1em 3em !important;
  }
#calculator input:not([type="submit"]){
  float: left;
}
#calculator label, #calculator .label{
  padding-right:2em;
  position: relative;
  display: block;
  float: left;
  margin-right:1em;
}
label .tip, .label .tip{
  color: inherit;
  text-decoration: none;
  border: thin solid #eee;
  width:1.4em;
  height:1.4em;
  text-align: center;
  line-height: 1.3em;
  border-radius: 50%;
  position: absolute;
  right:0;
  top:0;
  cursor:pointer;
  z-index: 100;
}
label .tipCont{
  opacity: 0.0;
  display: inline-block;
  padding:1em;
  position: absolute;
  background: #222;
  max-width:40em;
  width: auto;
  line-height: auto;
  border-radius: 1em;
  transition: all ease 0.4s;
}
label .tipCont:after{
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border-left:0.6em solid transparent;
  border-right:0.6em solid transparent;
  border-top: 1.4em solid #222;
  bottom:-1em;
  right:4em;
}
label .tip:hover + .tipCont{
  opacity: 1.0;
}
 #calculator .label{
   clear:both;
   margin-bottom: 1em;
 }

#calculator label  + input:not([type="checkbox"]){
  width: 100%;
  margin-bottom: 0.6em;
  clear: left;
}
.checkbox label{
    padding-right:0 !important;
}
#calculator .checkbox{
  float: right;
}
#calculator .title{
  margin-bottom:0.5em;
}
#calculator div input:last-child{
  margin-bottom:2em;
}

.checkbox{
  width:1.4em;
  height:1.4em;
  position: relative;
}
.checkbox input[type="checkbox"]{
  opacity: 0.0;
}
.checkbox label{
  cursor:pointer;
  position: absolute;
  width: inherit;
  height: inherit;
  top:0;
  left:0;
  background-color:transparent;
  border: thin solid #eee;
}
.checkbox label:after{
  opacity: 0.0;
  content: '';
  position: absolute;
  width:0.8em;
  height:0.5em;
  background-color:transparent;
  top:0.2em;
  left:0.24em;
  border: 0.18em solid #eee;
  border-top:none;
  border-right: none;
  transform: rotate(-45deg);
}
.checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.convert.imperial{
  display: none;
}
.convert.metric{
  display: none;
}
.shown{
  display: block !important;
}

@media only screen and (min-width:40rem){
  #background{
    display: block;
    background-image: url("../img/allBackOne.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  #background .other{
    display: block;
    opacity: 0.0;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: url("../img/allBackTwo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  #login .darkOverlay{
    display: none;
  }
  #login{
    max-width: 32em;
    margin-top: 0em;
  }
  .backface img.back{
        display: none;
     }
     .backface #two{
       opacity: 0.0;
     }
  .backface::before{
    display: none;
    }
  .tab{
    display: block;
  }
  .no-tab{
    display: none;
  }
  .borderTop .insideCard{
    border-top: none;
  }
}


@media only screen and (min-width:64rem){
  #profileCont{
    display: block;
  }

  #profileCont{
  width:20%;
  max-width: 32em;
  min-width: 18em;
  position: fixed;
  top:0;
  left:0;
  background: rgba(147, 153, 170, 0.47);
  height:100%;
  color:#fff;
  }
  #profileCont .profilepic{
    width: 50%;
    display: block;
    max-width: 16rem;
    background: #fff;
    margin:2em auto;
    margin-top:4em;
    float: none;

    border-radius: 50%;
    shape-outside: circle(50%);
  }
  #profileCont h3, #profileCont h4{
    display: block;
    padding:0;
    margin:0;
    margin-left: 4rem;
  }
  #profileCont .welcome{
    display: block;
    width:100%;
    box-sizing: border-box;
    font-family: "opensans-bold";
    text-transform: uppercase;
    margin-bottom:2rem;
    font-size: 2.5em;
  }
  #profileCont .name{
    font-size: 1.8em;
    font-family: "opensans-light";
  }
  #profileCont .title, #profileCont .phone{
    margin-bottom: 2em;
  }
  #profileCont #profileButton{
    background: rgba(147, 153, 170, 0.56);
    width:100%;
    display: block;
    position: absolute;
    bottom:0;
    text-align: center;
    padding:1rem;
    color:#fff;
    text-decoration: none;
    font-family: "opensans-bold";
    font-size: 1.4rem;
    text-transform: uppercase;

    transition: all ease 0.6s;
  }
  #profileCont #profileButton:hover{
    background: rgba(147, 153, 170, 0.86);
  }
  #profileCont #profileButton h3{
    margin:0 auto;
  }
  #profileCont #profileButton img{
    max-width: 6rem;
  }

  #dashboard, #calculator{
    max-width: 66rem;
    margin-left:26%;
  }
  .desk{
    display:block;
  }
}
